.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.stats-container {
    
}

.economics-container {
    
}

.principle-container {
    
}

.categories-container {
    
}