@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: 'Lato', sans-serif;
    color: #000;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/*------------------------------------------navbar */
.navbar-container {
    /* fix navbar container in place */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #669900;
}

.custom-navbar-toggler-icon i {
    font-size: 24px; 
}

.navbar-dark .navbar-toggler {
    border: 0;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    /* want dropdown link to be same color as Home link */
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #77b300;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
}

.dropdown-menu {
    background-color: #669900;
    border: 0px;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #77b300;
}

/*------------------------------------------stats section */
.stats-container {
    height: 100vh;
    padding-top: 56px;
    padding-left: 0;
    padding-right: 0;
    
    background: url('../images/landing_page_image_edited.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-container h2 {
    color: #000;
}

.stats-container .jumbotron {
    margin: 0;
    padding: 15px 15px;
    width: 90%;
    background-color: rgb(255,255,255,0.5);
}

.recycling-stat1 {
    height: 50%;
    padding-bottom: 32px;
}

.recycling-stat2 {
    height: 50%;
}

.icon-container {
    text-align: center;
    padding: 0;
    margin: 0;
}

.trash-icon {
    font-size: 48px;
    padding: 5px 5px;
}

.icon-y {
    color: #ff0000;
}

.icon-n {
    color: #669900;
}

.person-icon {
    font-size: 72px;
    padding: 5px 10px;
}

.arrow-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    text-align: center;
    margin-left: -25px;
    
    animation-name: animate-arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.arrow-top.fas.fa-chevron-down {
    display: block;
    width: 50px;
    font-size: 72px;
    color: #669900;
}

.arrow-bottom.fas.fa-chevron-down {
    display: block;
    width: 50px;
    font-size: 72px;
    color: #669900;
    /* position this arrow closer to top one */
    position: absolute;
    top: 36px;
}

/*------------------------------------------economics section */
.economics-container {
}

.economics-container .jumbotron {
    margin: 24px 15px;
    padding: 0 15px;
    background-color: #fff;
    text-align: center;
}

.economics-container h2 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.fas.fa-truck.collect-icon {
    font-size: 72px;
    line-height: 100px;
}

.fas.fa-arrow-down, .fas.fa-arrow-right {
    font-size: 36px;
    line-height: 100px;
}

.fas.fa-cube.separate-icon {
    font-size: 54px;
    padding: 0 5px;
    line-height: 100px;
}

.fas.fa-hand-holding-usd.sell-icon {
    font-size: 72px;
    padding: 0 5px;
    line-height: 100px;
}

/*------------------------------------------principle section */
.principle-container {
    background: url('../images/landing_page_image_edited.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.principle-container .jumbotron {
    margin: 24px 15px;
    padding: 0 15px;
    background-color: rgb(255,255,255,0.5);
    text-align: center;
}

.principle-container .jumbotron.jumbotron-bottom {
    margin-top: 0;
}

.principle-container h2 {
    color: #000;
    padding-top: 24px;
    padding-bottom: 24px;
}

.principle-container .card {
    margin-top: 0px;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.principle-container .card .card-title {
    font-size: 24px;
    font-weight: 700;
}

.principle-container .card i {
    color: #669900;
    font-size: 1.5em;
}
/*------------------------------------------categories section */
.categories-container {
}

.categories-container .jumbotron {
    margin: 24px 15px;
    padding: 0 15px;
    background-color: #fff;
    text-align: center;
}

.categories-container h2 {
    color: #000;
    padding-top: 24px;
    padding-bottom: 24px;
}

.categories-container .card {
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
}

.categories-container .card .card-title {
    font-size: 24px;
    font-weight: 700;
}

.categories-container .btn {
    background-color: #669900;
    border-color: #669900;
}

.categories-container .btn:hover {
    background-color: #77b300;
    border-color: #77b300;
}

/*------------------------------------------items */
.items-container {
    padding-top: 56px;
}

.items-container .jumbotron {
    margin: 24px 15px;
    padding: 0 15px;
    background-color: #fff;
    text-align: left;
}

.items-container h2 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.items-container .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.items-container .card {
    margin-top: 0;
    margin-bottom: 24px;
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;
}

.items-container .card-header {
    background-color: #fff;
}

.items-container .card i {
    color: #669900;
    font-size: 1.5em;
}

.items-container .btn-link {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/*------------------------------------------footer */
.footer-container {
    background-color: #669900;
}

.footer-container h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
}

/*------------------------------------------animations */
@keyframes animate-arrow {
    10% {
        bottom: 70px;
    }
    
    20% {
        bottom: 40px;
    }
    
    30% {
        bottom: 60px;
    }
    
    40%,100% {
        bottom: 50px;
    }
}